# dependencies
node_modules
/node_modules
apps/web/node_modules
/.pnp
.pnp.js

# next.js
.next/
/.next/
apps/web/.next/
/out/

# production
/build

# misc
.DS_Store
.env*.local
.env
.vercel
/*.tsbuildinfo
next-env.d.ts